body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
}

.container {
    background: white;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    background: #4facfe;
    border: none;
    color: white;
    cursor: pointer;
}

input {
    padding: 8px;
    width: 70%;
}

ul {
    list-style: none;
    padding: 0;
}
